#app {
    font-family: $font-family;
}
.btn:focus,
.navbar-toggler:focus {
    box-shadow: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    border-color: #eee;
    &::placeholder {
        color: transparent;
    }
}
@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;

    img {
        filter: grayscale(100) contrast(0%) brightness(1.8);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    .btn,
    label,
    .form-control {
        @extend %loading-skeleton;
    }
}

@for $i from 1 through 15 {
    $size: $i * 10;
    .h-#{$size} {
        height: #{$size}px !important;
    }
    .w-#{$size} {
        width: #{$size}px !important;
    }
}
